p{
    padding-top: 15px;
}
a{
    font-size: 16px;
    color: #B21F50;
    text-decoration: underline wavy;
}
*:focus{
    border: 6px dashed #417243;
    outline: none;

}

h1{
    text-align: center;
    line-height: 2;
    font-family: 'Syncopate', 'sans-serif';
}

body{
    background-image: url('../images/pigeon-background.jpg');
    background-position: center;
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-size: cover;
}

tbody td{
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
}
/* At least 125px wide
10px padding
White uppercase text
Dark red background (#7e0820)
Text centered horizontally */

thead th{
    min-width: 125px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #7e0820;
    text-align: center;
}
/* Row headers: consistent 2px border – 
apply only where the neighbor does not 
have a border already. */

tbody th{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

table tr:hover{
   background-color: rgba(126,8,32,0.25);
}

tr:nth-child(even){
    background-color: #D1D1D1;
}

table{
    border-spacing: 0px;
    /* border-right: 2px solid black; */
    margin: auto;
}

thead th:first-child{
    border-top-left-radius: 20px;
}

thead th:last-child{
    border-top-right-radius: 20px;
}
tbody tr:last-child th:first-child{
    border-bottom-left-radius: 20px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 20px;
}
tbody td:last-child{
    border-right: 2px solid black; 
}
/* Change the border-spacing to 0px and add a 2px border to the righthand side of the table.


Center the table when narrower than the screen.


Apply 20px rounded corners to the outer border.
Use pseudoclasses to ensure only the outer cells are rounded, not all cells.
It’s acceptable if there’s white space between the border and table edges. */






